.searchBox {
    margin-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}